.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}